<div class="edit-hover">
  <mat-card class="todo-card mat-elevation-z8" [class.post-dirty]="todo.newPostDirty || todo.postDirty"
            [class.post-error]="todo.newPostError || todo.postError">
    <mat-card-title>
      <div fxLayout="row" fxLayoutAlign="start stretch">
        <div fxFlexFill fxFlexAlign="start" class="card-title">
          <div fxLayout="row" fxLayoutGap=".4em">
            <div fxFlexAlign="stretch">
              <div class="errorFloater" *ngIf="todo.checkboxError">Error updating todo</div>
              <app-toggle-checkbox [state]="todo.completed" [class.pending]="todo.checkboxDirty"
                                   [class.error]="todo.checkboxError"
                                   (toggle)="onToggle()"></app-toggle-checkbox>
            </div>
            <div fxFlex="90">{{todo.title}}</div>
            <div class="edit-button">
              <a (click)="onEdit()">
                <mat-icon [inline]="true">edit</mat-icon>
              </a>
              <a (click)="onDelete()">
                <mat-icon [inline]="true">delete</mat-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </mat-card-title>
    <mat-card-content>
      <div class="pb-3">
        <mat-icon [inline]="true" class="calendar-icon pr-1">event</mat-icon>
        <span class="card-created-at">{{todo.createdAt.toDateString()}}</span>
      </div>
      <div>
        <span class="card-description">{{todo.description}}</span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
