<mat-card class="todo-card mat-elevation-z8 edit-hover">
  <mat-card-title>
    <div fxLayout="row" fxLayoutAlign="start stretch" class="pr-4">
      <div fxFlexFill fxFlexAlign="start" class="card-title">
        <div fxLayout="row" fxLayoutGap=".4em">
          <div fxFlexAlign="stretch">
            <div class="errorFloater" *ngIf="todo.error">Error updating todo</div>
            <app-toggle-checkbox [state]="todo.completed" [class.pending]="todo.dirty" [class.error]="todo.error"
                                 (toggle)="onToggle()"></app-toggle-checkbox>
          </div>
          <div>{{todo.title}}</div>
        </div>
      </div>
      <div fxFlexAlign="stretch">
        <div class="edit-button">
          <a routerLink="/edit/{{todo.id}}">
            <mat-icon [inline]="true">edit</mat-icon>
          </a>
        </div>
      </div>
    </div>
  </mat-card-title>
  <mat-card-content>
    <div>
      <mat-icon [inline]="true" class="pr-1">event</mat-icon>
      <span>{{todo.createdAt.toDateString()}}</span></div>
    <hr/>
    <div>
      <mat-icon [inline]="true"></mat-icon>
      <span>{{todo.description}}</span></div>
  </mat-card-content>
</mat-card>

