.todo-card {
  min-height: 275px;
  min-width: 300px;
  max-width: 350px;
  margin: 4px 4px;
}

@media screen and (max-width: 400px) {
  .todo-card {
    min-width: 300px;
    max-width: 300px;
  }
}

@media screen and (min-width: 400px) and (max-width: 959px) {
  .todo-card {
    min-width: 350px;
  }
}

.edit-hover .edit-button {
  visibility: hidden;
}

.edit-hover :hover .edit-button {
  visibility: visible;
}

.edit-button a {
  cursor: pointer;
  color: inherit;
}

.edit-button :hover {
  color: hsl(270, 50%, 70%);
}

.card-title {
  font-size: 0.8em;
  line-height: 1.25em;
}

.card-description {

}

.pending {
  color: gray;
}

.error {
  color: red;
}

.errorFloater {
  position: absolute;
  left: -10em;
  font-size: 0.6em;
  background: darkred;
  color: white;
  font-weight: bold;
  padding-right: 1em;
  padding-left: 1em;
}
