.todo-feed {
  padding-top: 1em;
  width: 90%;
  margin: auto;
}

.todo-feed-title {
  font-size: 3em;
  line-height: 1em;
}

.mat-icon {
  font-weight: bold;
  transform: scale(1.5);
  transition: 0.3s;
}

.create-new-todo-btn :hover {
  transform: scale(1.75);
}

@keyframes icon-grow {
  from {
    transform: scale(1.5)
  }
  to {
    transform: scale(1.75)
  }
}

@media screen and (orientation: portrait) {
  .create-new-todo-btn {
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 10;
  }
}

@media screen and (min-width: 400px) {
  .create-new-todo-btn {
    margin-left: 15px;
  }
}
