.todo-feed {
  padding-top: 1em;
  width: 90%;
  margin: auto;
}

.todo-feed-title {
  font-size: 3em;
  line-height: 1em;
}

.mat-icon {
  vertical-align: middle;
  text-align: center;
  font-weight: bolder;
}

@media screen and (max-width: 400px) {
  .create-new-todo-btn {
    position: fixed;
    right: 5%;
    bottom: 5%;
  }
}

@media screen and (min-width: 400px) {
  .create-new-todo-btn {
    margin-left: 15px;
  }
}
