<div class="dialog-box" fxLayout="column" fxLayoutGap="start stretch" [formGroup]="formGroup">
  <div>
    <mat-form-field color="accent" appearance="outline" style="width: 100%;">
      <mat-label>Title</mat-label>
      <input matInput class="title-input" placeholder="Title" formControlName="title" aria-label="Title text field"
             required>
      <mat-error *ngIf="formGroup?.controls['description'].invalid">Please enter a title.</mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field color="accent" appearance="outline" style="width: 100%;">
      <mat-label>Description</mat-label>
      <textarea class="desc-textarea" matInput placeholder="Description"
                formControlName="description" aria-label="Description text field" required></textarea>
      <mat-error *ngIf="formGroup?.controls['description'].invalid">Please enter a description.</mat-error>
    </mat-form-field>
  </div>
  <input type="datetime-local" id="meeting-time"
         name="meeting-time" value="2018-06-12T19:30"
         min="2018-06-07T00:00" max="2018-06-14T00:00">
</div>
