@media screen and (min-width: 500px) {
  .dialog-box {
    min-width: 400px;
    max-width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .dialog-box {
    min-width: 100%;
  }

  .title-input {
    min-width: 80%;
  }

  .desc-textarea {
    min-width: 80%;
  }
}

@media screen and (max-height: 400px) {
  .desc-textarea {
    min-height: 50%;
    resize: none;
  }
}

@media screen and (min-height: 400px) {
  .desc-textarea {
    min-height: 300px;
    resize: none;
  }
}
