/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-snackbar-success {
  background-color: darkgreen;
  color: white;
}

.app-snackbar-warn {
  background-color: darkgoldenrod;
  color: white;
}

.app-snackbar-error {
  background-color: darkred;
  color: white;
}
