<div class="dialog-box" fxLayout="column" fxLayoutGap="start stretch">
  <div>
    <mat-form-field color="accent" appearance="outline" style="width: 100%;">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Title" formControlName="title" required aria-label="Title text field">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field color="accent" appearance="outline" style="width: 100%;">
      <mat-label>Description</mat-label>
      <textarea class="desc-textarea" matInput placeholder="Description"
                formControlName="description" required aria-label="Description text field"></textarea>
    </mat-form-field>
  </div>
</div>
